# 01. 준비하기
## 파이썬 맛보기

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print("Hi")

Hi

In [3]:
# 주석

In [4]:
print('귤','사과','배', sep='/')
# 이때 sep을 print의 매개변수(parameter)라고 한다.

귤/사과/배

In [5]:
fruits = ['바나나','사과','딸기','배','감']
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

In [6]:
a = '사과'
b = '망고, 파인애플'
c = a+b
print(c)

사과망고, 파인애플

In [9]:
print('*'*10)

**********

In [10]:
month = "2월"
day = "20일"
say = "{} {}은 일요일입니다".format(month, day)
print(say)

2월 20일은 일요일입니다

# 02. 데이터 분석 기초
## Pandas 기초

In [2]:
import pandas as pd

In [3]:
sample_1 = pd.read_excel('./data/2_Data_Analysis_Basic/files/sample_1.xlsx',
                        header = 1,
                        skipfooter = 2,
                        usecols = 'A:C')
sample_1.head(3)

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319

In [4]:
sample_1.tail(3)

  국적코드  성별    입국객수
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [5]:
sample_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적코드    6 non-null      object
 1   성별      6 non-null      object
 2   입국객수    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [6]:
sample_1.describe()

                입국객수
count       6.000000
mean   114995.333333
std     98105.752006
min        42.000000
25%     26819.250000
50%    132616.000000
75%    183305.000000
max    232943.000000

In [7]:
sample_1['입국객수']

0    106320
1    191436
2       319
3        42
4    158912
5    232943
Name: 입국객수, dtype: int64

In [8]:
sample_1[['국적코드','입국객수']]

  국적코드    입국객수
0  A01  106320
1  A01  191436
2  A31     319
3  A31      42
4  A18  158912
5  A18  232943

In [9]:
sample_1['기준년월']='2019-11'

In [10]:
sample_1

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
2  A31  남성     319  2019-11
3  A31  여성      42  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [11]:
condition = (sample_1['성별']=='남성')
condition

0     True
1    False
2     True
3    False
4     True
5    False
Name: 성별, dtype: bool

In [12]:
sample_1[condition]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
2  A31  남성     319  2019-11
4  A18  남성  158912  2019-11

In [13]:
# 중요
# 조건으로 행 추출하기
condition = (sample_1['입국객수']>=150000)
sample_1[condition]

  국적코드  성별    입국객수     기준년월
1  A01  여성  191436  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [14]:
sample_1

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
2  A31  남성     319  2019-11
3  A31  여성      42  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [15]:
# 중요
# 다중조건으로 행 추출하기
conditions = (sample_1['성별']=='남성')&(sample_1['입국객수']>=150000)

In [16]:
sample_1[conditions]

  국적코드  성별    입국객수     기준년월
4  A18  남성  158912  2019-11

In [17]:
conditions = (sample_1['성별']=='남성')\
&(sample_1['입국객수']>=150000)
sample_1[conditions]

  국적코드  성별    입국객수     기준년월
4  A18  남성  158912  2019-11

In [18]:
# 중요
# 한 칼럼에 대해 여러 조건으로 필터링하기
conditions = (sample_1['국적코드']=='A01')\
|(sample_1['국적코드']=='A18') # | = OR
sample_1[conditions]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [19]:
# 중요
# 한 칼럼에 대해 여러 조건으로 필터링하기
# isin() : 찾고싶은 값들을 리스트 형태로 넣어서 해당 값 찾기
conditions = (sample_1['국적코드'].isin(['A01','A18']))
conditions

0     True
1     True
2    False
3    False
4     True
5     True
Name: 국적코드, dtype: bool

In [20]:
sample_1[conditions]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [21]:
# 중요
sample_1[conditions==False]

  국적코드  성별  입국객수     기준년월
2  A31  남성   319  2019-11
3  A31  여성    42  2019-11

(중요)

데이터 옆(좌우)으로 통합하기 : pd.merge()

데이터 아래(상하)로 통합하기 : pd.append()

In [22]:
# 중요
# 데이터 옆으로 통합
code_master = pd.read_excel('./data/2_Data_Analysis_Basic/files/sample_codemaster.xlsx')
sample_1_code = pd.merge(left=sample_1,
                        right=code_master,
                        how='left',
                        left_on='국적코드',
                        right_on='국적코드')
sample_1_code

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2019-11   일본
1  A01  여성  191436  2019-11   일본
2  A31  남성     319  2019-11  NaN
3  A31  여성      42  2019-11  NaN
4  A18  남성  158912  2019-11   중국
5  A18  여성  232943  2019-11   중국

(해석)
1. left = sample_1 : 왼쪽테이블은 sample_1로 정한다.
2. right = code_master : 오른쪽테이블은 code_master로 정한다.
3. how = 'left' : 왼쪽 테이블을 기준으로 두 테이블을 결합한다.
4. left_on = '국적코드' : 왼쪽 테이블의 기준 컬럼을 국적코드다.
5. right_on = '국적코드' : 오른쪽 테이블의 기준 컬럼을 국적코드다.

In [23]:
# 중요
# 옵션 how='inner'
# 두 테이블의 기준 칼럼의 값이 서로 일치하는 경우에만 데이터를 통합하는 옵션
sample_1_code_inner = pd.merge(left=sample_1,
                                right=code_master,
                                how='inner',
                                left_on='국적코드',
                                right_on='국적코드')
sample_1_code_inner

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성  106320  2019-11  일본
1  A01  여성  191436  2019-11  일본
2  A18  남성  158912  2019-11  중국
3  A18  여성  232943  2019-11  중국

In [24]:
sample_2 = pd.read_excel('./data/2_Data_Analysis_Basic/files/sample_2.xlsx',
                        header=1,
                        skipfooter=2,
                        usecols='A:C')
sample_2['기준년월']='2019-12'
sample_2_code = pd.merge(left=sample_2,
                        right=code_master,
                        how='left',
                        left_on='국적코드',
                        right_on='국적코드')
sample_2_code

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성   92556  2019-12  일본
1  A01  여성  163737  2019-12  일본
2  A18  남성  155540  2019-12  중국
3  A18  여성  249023  2019-12  중국

In [25]:
sample_1_code

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2019-11   일본
1  A01  여성  191436  2019-11   일본
2  A31  남성     319  2019-11  NaN
3  A31  여성      42  2019-11  NaN
4  A18  남성  158912  2019-11   중국
5  A18  여성  232943  2019-11   중국

In [26]:
# 중요
# 데이터를 아래로 통합하기
sample = sample_1_code.append(sample_2_code,
                             ignore_index=True)
sample

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2019-11   일본
1  A01  여성  191436  2019-11   일본
2  A31  남성     319  2019-11  NaN
3  A31  여성      42  2019-11  NaN
4  A18  남성  158912  2019-11   중국
5  A18  여성  232943  2019-11   중국
6  A01  남성   92556  2019-12   일본
7  A01  여성  163737  2019-12   일본
8  A18  남성  155540  2019-12   중국
9  A18  여성  249023  2019-12   중국

이 때 ignore_index=True를 지정하지 않으면 원래 각 데이터에서의 인덱스 값으로 합쳐지므로 일반적으로 ignore_index=True인자를 지정해주는 것이 좋다.

ignore_index=True인자를 지정하지 않으면 아래와 같이 된다.

In [27]:
sample_1_code.append(sample_2_code)

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2019-11   일본
1  A01  여성  191436  2019-11   일본
2  A31  남성     319  2019-11  NaN
3  A31  여성      42  2019-11  NaN
4  A18  남성  158912  2019-11   중국
5  A18  여성  232943  2019-11   중국
0  A01  남성   92556  2019-12   일본
1  A01  여성  163737  2019-12   일본
2  A18  남성  155540  2019-12   중국
3  A18  여성  249023  2019-12   중국

In [28]:
# 데이터 저장
sample.to_excel('./data/2_Data_Analysis_Basic/files/sample.xlsx')

In [29]:
# 데이터 저장 (index 포함 X)
sample.to_excel('./data/2_Data_Analysis_Basic/files/sample_index_false.xlsx',
               index=False)

피벗테이블(Pivot Table)

: 기존 데이터의 칼럼을 재구성해서 데이터에 대한 통계를 한눈에 파악할 수 있게 정리한 표 (데이터 집계 도구)

(ex) 데이터를 날짜별로 집계해주세요, 데이터를 연령별로 추출해주세요 등과 같이 **별로 데이터를 집계할 때 사용하는 기능

In [30]:
# 중요
# 피벗테이블 (pivot table)
sample_pivot = sample.pivot_table(values='입국객수',
                                 index='국적명',
                                 columns='기준년월',
                                 aggfunc='mean')
sample_pivot

기준년월   2019-11   2019-12
국적명
일본    148878.0  128146.5
중국    195927.5  202281.5

(해석)
1. sample.pivot_table() : sample데이터를 피벗화한다.
2. values='입국객수' : 피벗테이블 내부에 들어갈 값은 입국객수로 한다.
3. index='국적명' : 피벗테이블의 로우에 국적명을 배치한다.
4. columns='기준년월' : 피벗테이블의 컬럼에 기준년월을 배치한다.
5. aggfunc='mean' : value(입국객수)를 index(국적명)와 columns(기준년월) 기준으로 평균을 계산한다.

cf.) pivot_table()함수의 aggfunc 옵션

mean : 평균

sum : 합계

min : 최솟값

median : 중앙값

max : 최댓값

count : 개수

nunique : 중복을 제거한 후 개수 (원소 개수)

In [31]:
# 중요
# 피벗테이블 (pivot table)
sample_pivot_2 = sample.pivot_table(values='입국객수',
                                   index='국적명',
                                   aggfunc='max')
sample_pivot_2

       입국객수
국적명
일본   191436
중국   249023

@@@ 피벗테이블을 사용할 때 중요한 것

: 기존 칼럼들을 피벗테이블의 어떤 영역(컬럼 혹은 로우)에 배치할 것인지를 판단하고 테이블을 생성해야한다!!!

## 웹 크롤링 기초

In [1]:
# selenium으로 웹 조작하기
from selenium import webdriver

In [2]:
# 크롬드라이버 실행
driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')

In [3]:
# url 접속
url = 'https://www.naver.com'
driver.get(url)

In [4]:
# 웹페이지의 html 다운로드
html = driver.page_source

In [9]:
html = """
<html>
    <head>
    </head>
    <body>
        <h1> 우리동네시장</h1>
            <div class = 'sale'>
                <p id='fruits1' class='fruits'>
                    <span class = 'name'> 바나나 </span>
                    <span class = 'price'> 3000원 </span>
                    <span class = 'inventory'> 500개 </span>
                    <span class = 'store'> 가나다상회 </span>
                    <a href = 'http://bit.ly/forPlaywithData'> 홈페이지 </a>
                </p>
            </div>
            <div class = 'prepare'>
                <p id='fruits2' class='fruits'>
                    <span class='name'> 파인애플 </span>
                </p>
            </div>
    </body>
</html>
"""

In [10]:
# html 문자열을 BeautifulSoup으로 해석하기
from bs4 import BeautifulSoup

soup = BeautifulSoup(html, 'html.parser')

### HTML 정보 찾기 1 - 태그 속성 활용

In [11]:
# 태그명으로 태그 찾기
tags_span = soup.select('span')
tags_p = soup.select('p')

class 속성 : 글꼴, 배경색 등의 서식을 지정, html 내에서 동일한 class명 반복 가능

id 값 : 특정 대상을 지정하기 위해 사용, html 내에서 한 번만 사용 가능

In [12]:
# id와 class로 태그 찾기
ids_fruits1 = soup.select('#fruits1')
class_price = soup.select('.price')
tags_span_class_price = soup.select('span.price')

### HTML 정보 찾기 2 - 상위 구조 활용

In [13]:
# 태그 구조로 위치 찾기 1
tags_name = soup.select('span.name')
print(tags_name)

[<span class="name"> 바나나 </span>, <span class="name"> 파인애플 </span>]

In [14]:
# 태그 구조로 위치 찾기 2
tags_banana1 = soup.select('#fruits1 > span.name')
print(tags_banana1)

[<span class="name"> 바나나 </span>]

In [15]:
# 태그 구조로 위치 찾기 3
tags_banana2 = soup.select('div.sale > #fruits1 > span.name')
tags_banana3 = soup.select('div.sale span.name')
print(tags_banana2)
print(tags_banana3)

[<span class="name"> 바나나 </span>]
[<span class="name"> 바나나 </span>]

### 정보 가져오기 1 - 태그 그룹에서 하나의 태그 선택하기

In [16]:
# 태그 그룹에서 하나의 태그만 선택
tags = soup.select('span.name')
tag_1 = tags[0] # 인덱스 번호로 하나의 태그 지정
print(tag_1)

<span class="name"> 바나나 </span>

In [19]:
# 태그 그룹에서 반복문으로 태그 하나씩 선택하기
tags = soup.select('span.name')
for tag in tags: # 반복문으로 태그 그룹에서 각 태그를 선택해 활용
    print(tag)

<span class="name"> 바나나 </span>
<span class="name"> 파인애플 </span>

### 정보 가져오기 2 - 선택한 태그에서 정보 가져오기

{태그에서 정보 가져오기}

content = TAG.text             # 태그에서 화면에 보이는 텍스트 부분만 가져오기

attribute = TAG['속성명']      # 태그 내 속성값 가져오기

In [22]:
tags = soup.select('a')
tag = tags[0]
content = tag.text
print(content)
link = tag['href']
print(link)

 홈페이지
http://bit.ly/forPlaywithData

1번째 줄 = soup에서 태그명이 a인 태그 모두 선택

2번째 줄 = 그중 첫 번째(인덱스번호 0번) 원소를 선택해서 tag변수에 저장

3~4번째 줄 = tag에 저장된 태그의 화면에 보이는 부분을 선택하기 위해 .text 사용 (결과 : 홈페이지)

5번째 줄 = 태그에서 href 속성에 저장된 값을 link 변수에 저장

6번째 줄 = 출력 (결과 : URL 확인)

### 멜론 노래 순위 정보 크롤링

In [23]:
from selenium import webdriver
driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')

In [24]:
url = 'http://www.melon.com/chart/index.htm'
driver.get(url)

In [25]:
# html 다운로드 및 BeautifulSoup으로 읽기
from bs4 import BeautifulSoup
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [26]:
# 100개의 노래 태그 찾기
songs = soup.select('table>tbody>tr')
print(len(songs))
print(songs[0])

100
<tr data-song-no="33077590">
<td><div class="wrap t_right"><input class="input_check" name="input_check" title="VVS (Feat. JUSTHIS) (Prod. GroovyRoom) 곡 선택" type="checkbox" value="33077590"/></div></td>
<td><div class="wrap">
<a class="image_typeAll" href="javascript:melon.link.goAlbumDetail('10521601');" title="쇼미더머니 9 Episode 1">
<img alt="쇼미더머니 9 Episode 1 - 페이지 이동" height="60" onerror="WEBPOCIMG.defaultAlbumImg(this);" src="https://cdnimg.melon.co.kr/cm2/album/images/105/21/601/10521601_20201120125511_500.jpg/melon/resize/120/quality/80/optimize" width="60"/>
<span class="bg_album_frame"></span>
</a>
</div></td>
<td><div class="wrap">
<a class="btn button_icons type03 song_info" href="javascript:melon.link.goSongDetail('33077590');" title="VVS (Feat. JUSTHIS) (Prod. GroovyRoom) 곡정보"><span class="none">곡정보</span></a>
</div></td>
<td><div class="wrap">
<div class="wrap_song_info">
<div class="ellipsis rank01"><span>
<a href="javascript:melon.play.playSong('19030101',33077590);" title="VVS (Feat. JUSTHIS) (Prod. GroovyRoom) 재생">VVS (Feat. JUSTHIS) (Prod. GroovyRoom)</a>
</span></div>
<br/>
<div class="ellipsis rank02">
<a href="javascript:melon.link.goArtistDetail('2866523');" title="미란이 (Mirani) - 페이지 이동">미란이 (Mirani)</a>, <a href="javascript:melon.link.goArtistDetail('2747971');" title="먼치맨 - 페이지 이동">먼치맨</a>, <a href="javascript:melon.link.goArtistDetail('1703507');" title="Khundi Panda - 페이지 이동">Khundi Panda</a>, <a href="javascript:melon.link.goArtistDetail('2745413');" title="머쉬베놈 (MUSHVENOM) - 페이지 이동">머쉬베놈 (MUSHVENOM)</a><span class="checkEllipsis" style="display: none;"><a href="javascript:melon.link.goArtistDetail('2866523');" title="미란이 (Mirani) - 페이지 이동">미란이 (Mirani)</a>, <a href="javascript:melon.link.goArtistDetail('2747971');" title="먼치맨 - 페이지 이동">먼치맨</a>, <a href="javascript:melon.link.goArtistDetail('1703507');" title="Khundi Panda - 페이지 이동">Khundi Panda</a>, <a href="javascript:melon.link.goArtistDetail('2745413');" title="머쉬베놈 (MUSHVENOM) - 페이지 이동">머쉬베놈 (MUSHVENOM)</a></span>
</div>
<div class="wrap_atist" style="">
<button class="button_icons etc more_down" data-control="dropdown" title="아티스트 더보기" type="button"><span class="none">아티스트명 더보기</span></button>
<div class="atist_view" style="display:none;">
<ul>
<li><a class="ellipsis" href="javascript:melon.link.goArtistDetail('2866523');" title="미란이 (Mirani) 페이지 이동">미란이 (Mirani)</a></li>
<li><a class="ellipsis" href="javascript:melon.link.goArtistDetail('2747971');" title="먼치맨 페이지 이동">먼치맨</a></li>
<li><a class="ellipsis" href="javascript:melon.link.goArtistDetail('1703507');" title="Khundi Panda 페이지 이동">Khundi Panda</a></li>
<li><a class="ellipsis" href="javascript:melon.link.goArtistDetail('2745413');" title="머쉬베놈 (MUSHVENOM) 페이지 이동">머쉬베놈 (MUSHVENOM)</a></li>
</ul>
</div>
</div>
</div>
</div></td>
<td><div class="wrap">
<div class="wrap_song_info">
<div class="ellipsis rank03">
<a href="javascript:melon.link.goAlbumDetail('10521601');" title="쇼미더머니 9 Episode 1 - 페이지 이동">쇼미더머니 9 Episode 1</a>
</div>
</div>
</div></td>
<td><div class="wrap">
<button class="button_etc like" data-song-menuid="19030101" data-song-no="33077590" title="VVS (Feat. JUSTHIS) (Prod. GroovyRoom) 좋아요" type="button"><span class="odd_span">좋아요</span>
<span class="cnt">
<span class="none">총건수</span>
154,939</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons play" onclick="melon.play.playSong('19030101',33077590);" title="듣기" type="button"><span class="none">듣기</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons scrap" onclick="melon.play.addPlayList('33077590');" title="담기" type="button"><span class="none">담기</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons download" onclick="melon.buy.goBuyProduct('frm', '33077590', '3C0001', '','0', '19030101');" title="다운로드" type="button"><span class="none">다운로드</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons video disabled" disabled="disabled" onclick="melon.link.goMvDetail('19030101', '33077590','song');" title="뮤직비디오" type="button"><span class="none">뮤직비디오</span></button>
</div></td>
</tr>

In [27]:
# 한 개의 곡 정보 지정하기
song = songs[0]

In [31]:
# 곡 제목 찾기 1
title = song.select('a')
len(title)

16

In [32]:
# 곡 제목 찾기 2
title = song.select('span>a')
len(title)

5

In [35]:
# 곡 제목 찾기 3
title = song.select('div.ellipsis.rank01>span>a')
title

In [36]:
# 곡 제목 가져오기
title = song.select('div.ellipsis.rank01>span>a')[0].text
title

'VVS (Feat. JUSTHIS) (Prod. GroovyRoom)'

In [40]:
# 가수 찾기
singer = song.select('div.ellipsis.rank02>a')
len(singer)

4

In [41]:
singer

[<a href="javascript:melon.link.goArtistDetail('2866523');" title="미란이 (Mirani) - 페이지 이동">미란이 (Mirani)</a>,
 <a href="javascript:melon.link.goArtistDetail('2747971');" title="먼치맨 - 페이지 이동">먼치맨</a>,
 <a href="javascript:melon.link.goArtistDetail('1703507');" title="Khundi Panda - 페이지 이동">Khundi Panda</a>,
 <a href="javascript:melon.link.goArtistDetail('2745413');" title="머쉬베놈 (MUSHVENOM) - 페이지 이동">머쉬베놈 (MUSHVENOM)</a>]

In [42]:
singer = song.select('div.ellipsis.rank02>a')[0].text
singer

'미란이 (Mirani)'

In [43]:
# 중요
# 멜론 100위 노래순위 정보 가져오기
for song in songs :
    title = song.select('div.ellipsis.rank01>span>a')[0].text
    singer = song.select('div.ellipsis.rank02>a')[0].text
    print(title, singer, sep='|')

VVS (Feat. JUSTHIS) (Prod. GroovyRoom)|미란이 (Mirani)
밤하늘의 별을(2020)|경서
Dynamite|방탄소년단
잠이 오질 않네요|장범준
Lovesick Girls|BLACKPINK
힘든 건 사랑이 아니다|임창정
내일이 오면 (Feat. 기리보이, BIG Naughty (서동현))|릴보이 (lIlBOI)
취기를 빌려 (취향저격 그녀 X 산들)|산들
Life Goes On|방탄소년단
오래된 노래|스탠딩 에그
CREDIT (Feat. 염따, 기리보이, Zion.T)|릴보이 (lIlBOI)
Savage Love (Laxed - Siren Beat) (BTS Remix)|Jawsh 685
내 마음이 움찔했던 순간 (취향저격 그녀 X 규현)|규현 (KYUHYUN)
나랑 같이 걸을래 (바른연애 길잡이 X 적재)|적재
에잇(Prod.&Feat. SUGA of BTS)|아이유
어떻게 이별까지 사랑하겠어, 널 사랑하는 거지|AKMU (악동뮤지션)
화(火花)|(여자)아이들
혼술하고 싶은 밤|벤
Achoo (Feat. pH-1, HAON) (Prod. GroovyRoom)|미란이 (Mirani)
When We Disco (Duet with 선미)|박진영
늦은 밤 너의 집 앞 골목길에서|노을
흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야|장범준
Blueming|아이유
모든 날, 모든 순간 (Every day, Every Moment)|폴킴
어떻게 지내 (Prod. By VAN.C)|오반 (OVAN)
ON AIR (Feat. 로꼬, 박재범 & GRAY)|릴보이 (lIlBOI)
Freak (Prod. Slom)|릴보이 (lIlBOI)
How You Like That|BLACKPINK
METEOR|창모 (CHANGMO)
아로하|조정석
서면역에서|순순희
뿌리 (Feat. JUSTHIS) (Prod. GroovyRoom)|Khundi Panda
딩가딩가 (Dingga)|마마무 (Mamamoo)
Dolphin|오마이걸 (OH MY GIRL)
사실 나는 (Feat.전건호)|경서예지
마음을 드려요|아이유
오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)|마크툽 (MAKTUB)
DON'T TOUCH ME|환불원정대
그날에 나는 맘이 편했을까|이예준
작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)|방탄소년단
거짓말이라도 해서 널 보고싶어|백지영
I CAN’T STOP ME|TWICE (트와이스)
Memories|Maroon 5
악역 (Feat. 이하이 & 사이먼 도미닉) (Prod. 코드 쿤스트)|스윙스
마리아 (Maria)|화사 (Hwa Sa)
우리 왜 헤어져야 해|신예영
시작|가호 (Gaho)
사랑은 지날수록 더욱 선명하게 남아|전상근
뻔한남자|이승기
2002|Anne-Marie
봄날|방탄소년단
홀로|이하이
한잔이면 지워질까|황인욱
살짝 설렜어 (Nonstop)|오마이걸 (OH MY GIRL)
옜다 (Take It) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
눈누난나 (NUNU NANA)|제시 (Jessi)
가을밤에 든 생각|잔나비
Dance Monkey|Tones And I
고독하구만 (Feat. 수퍼비) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
Downtown Baby|블루 (BLOO)
Snowman|Sia
사랑 못해, 남들 쉽게 다 하는 거|먼데이 키즈 (Monday Kiz)
안녕|폴킴
너를 만나|폴킴
소확행|임창정
Panorama|IZ*ONE (아이즈원)
VVS (H1GHR Remix) (Feat. JUSTHIS) (Prod. GroovyRoom)|pH-1
What Do I Call You|태연 (TAEYEON)
너의 번호를 누르고 (Prod. 영화처럼)|#안녕
Love poem|아이유
처음처럼|엠씨더맥스 (M.C the MAX)
잘할게|이승기
나로 바꾸자 (duet with JYP)|비
우린 어쩌다 헤어진 걸까|허각
행복해|송하예
이제 나만 믿어요|임영웅
Achoo Remix (Feat. 미란이(Mirani), pH-1, 먼치맨, Skinny Brown, Louie, 릴러말즈 (Leellamarz), Ourealgoat (아우릴고트), Dbo (디보), 식케이 (Sik-K), 오왼 (Owen), Kid Milli, 스윙스, Nudeboi Seo, TRADE L, 쿠기 (Coogie), Blase (블라세), sokodomo, Khundi Panda, 휘민 (Lil Moshpit), Khakii (카키))|그루비룸 (GroovyRoom)
사랑하게 될 줄 알았어|전미도
여백의 미 (Feat. Jessi, JUSTHIS) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
Don't Start Now|Dua Lipa
Santa Tell Me|Ariana Grande
All I Want For Christmas Is You|Mariah Carey
너도 아는|폴킴
별을 담은 시 (Ode To The Stars)|마크툽 (MAKTUB)
12:45 (Stripped)|Etham
아무노래|지코 (ZICO)
Bad Boy|청하
12월의 어느 겨울…|윤도 (YoonDo)
다시 여기 바닷가|싹쓰리 (유두래곤, 린다G, 비룡)
미리 메리 크리스마스 (Feat. 천둥 Of MBLAQ)|아이유
Paris In The Rain|Lauv
ON|방탄소년단
Maniac|Conan Gray
Black Mamba|aespa
놓아줘 (with 태연)|Crush
적외선 카메라|원슈타인
For You (Feat. Crush)|이하이
원해 (Feat. 팔로알토) (Prod. 코드 쿤스트)|스윙스
가다 (Feat. 사이먼 도미닉, The Quiett) (Prod. SLO)|머쉬베놈 (MUSHVENOM)
Blue & Grey|방탄소년단

In [45]:
# 중요
# 멜론 인기차트 중 상위 100곡 크롤링 (정리)
from selenium import webdriver
driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')
url = 'http://www.melon.com/chart/index.htm'
driver.get(url)

from bs4 import BeautifulSoup
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

songs = soup.select('table>tbody>tr')
for song in songs :
    title = song.select('div.ellipsis.rank01>span>a')[0].text
    singer = song.select('div.ellipsis.rank02>a')[0].text
    print(title, singer, sep='|')

VVS (Feat. JUSTHIS) (Prod. GroovyRoom)|미란이 (Mirani)
밤하늘의 별을(2020)|경서
Dynamite|방탄소년단
잠이 오질 않네요|장범준
Lovesick Girls|BLACKPINK
힘든 건 사랑이 아니다|임창정
내일이 오면 (Feat. 기리보이, BIG Naughty (서동현))|릴보이 (lIlBOI)
취기를 빌려 (취향저격 그녀 X 산들)|산들
Life Goes On|방탄소년단
오래된 노래|스탠딩 에그
CREDIT (Feat. 염따, 기리보이, Zion.T)|릴보이 (lIlBOI)
Savage Love (Laxed - Siren Beat) (BTS Remix)|Jawsh 685
내 마음이 움찔했던 순간 (취향저격 그녀 X 규현)|규현 (KYUHYUN)
나랑 같이 걸을래 (바른연애 길잡이 X 적재)|적재
에잇(Prod.&Feat. SUGA of BTS)|아이유
어떻게 이별까지 사랑하겠어, 널 사랑하는 거지|AKMU (악동뮤지션)
화(火花)|(여자)아이들
혼술하고 싶은 밤|벤
Achoo (Feat. pH-1, HAON) (Prod. GroovyRoom)|미란이 (Mirani)
When We Disco (Duet with 선미)|박진영
늦은 밤 너의 집 앞 골목길에서|노을
흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야|장범준
Blueming|아이유
모든 날, 모든 순간 (Every day, Every Moment)|폴킴
어떻게 지내 (Prod. By VAN.C)|오반 (OVAN)
ON AIR (Feat. 로꼬, 박재범 & GRAY)|릴보이 (lIlBOI)
Freak (Prod. Slom)|릴보이 (lIlBOI)
How You Like That|BLACKPINK
METEOR|창모 (CHANGMO)
아로하|조정석
서면역에서|순순희
뿌리 (Feat. JUSTHIS) (Prod. GroovyRoom)|Khundi Panda
딩가딩가 (Dingga)|마마무 (Mamamoo)
Dolphin|오마이걸 (OH MY GIRL)
사실 나는 (Feat.전건호)|경서예지
마음을 드려요|아이유
오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)|마크툽 (MAKTUB)
DON'T TOUCH ME|환불원정대
그날에 나는 맘이 편했을까|이예준
작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)|방탄소년단
거짓말이라도 해서 널 보고싶어|백지영
I CAN’T STOP ME|TWICE (트와이스)
Memories|Maroon 5
악역 (Feat. 이하이 & 사이먼 도미닉) (Prod. 코드 쿤스트)|스윙스
마리아 (Maria)|화사 (Hwa Sa)
우리 왜 헤어져야 해|신예영
시작|가호 (Gaho)
사랑은 지날수록 더욱 선명하게 남아|전상근
뻔한남자|이승기
2002|Anne-Marie
봄날|방탄소년단
홀로|이하이
한잔이면 지워질까|황인욱
살짝 설렜어 (Nonstop)|오마이걸 (OH MY GIRL)
옜다 (Take It) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
눈누난나 (NUNU NANA)|제시 (Jessi)
가을밤에 든 생각|잔나비
Dance Monkey|Tones And I
고독하구만 (Feat. 수퍼비) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
Downtown Baby|블루 (BLOO)
Snowman|Sia
사랑 못해, 남들 쉽게 다 하는 거|먼데이 키즈 (Monday Kiz)
안녕|폴킴
너를 만나|폴킴
소확행|임창정
Panorama|IZ*ONE (아이즈원)
VVS (H1GHR Remix) (Feat. JUSTHIS) (Prod. GroovyRoom)|pH-1
What Do I Call You|태연 (TAEYEON)
너의 번호를 누르고 (Prod. 영화처럼)|#안녕
Love poem|아이유
처음처럼|엠씨더맥스 (M.C the MAX)
잘할게|이승기
나로 바꾸자 (duet with JYP)|비
우린 어쩌다 헤어진 걸까|허각
행복해|송하예
이제 나만 믿어요|임영웅
Achoo Remix (Feat. 미란이(Mirani), pH-1, 먼치맨, Skinny Brown, Louie, 릴러말즈 (Leellamarz), Ourealgoat (아우릴고트), Dbo (디보), 식케이 (Sik-K), 오왼 (Owen), Kid Milli, 스윙스, Nudeboi Seo, TRADE L, 쿠기 (Coogie), Blase (블라세), sokodomo, Khundi Panda, 휘민 (Lil Moshpit), Khakii (카키))|그루비룸 (GroovyRoom)
사랑하게 될 줄 알았어|전미도
여백의 미 (Feat. Jessi, JUSTHIS) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
Don't Start Now|Dua Lipa
Santa Tell Me|Ariana Grande
All I Want For Christmas Is You|Mariah Carey
너도 아는|폴킴
별을 담은 시 (Ode To The Stars)|마크툽 (MAKTUB)
12:45 (Stripped)|Etham
아무노래|지코 (ZICO)
Bad Boy|청하
12월의 어느 겨울…|윤도 (YoonDo)
다시 여기 바닷가|싹쓰리 (유두래곤, 린다G, 비룡)
미리 메리 크리스마스 (Feat. 천둥 Of MBLAQ)|아이유
Paris In The Rain|Lauv
ON|방탄소년단
Maniac|Conan Gray
Black Mamba|aespa
놓아줘 (with 태연)|Crush
적외선 카메라|원슈타인
For You (Feat. Crush)|이하이
원해 (Feat. 팔로알토) (Prod. 코드 쿤스트)|스윙스
가다 (Feat. 사이먼 도미닉, The Quiett) (Prod. SLO)|머쉬베놈 (MUSHVENOM)
Blue & Grey|방탄소년단

In [49]:
# 중요
# 멜론 인기차트 중 상위 100곡 크롤링 (selenium만 활용)
driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')
url = 'http://www.melon.com/chart/index.htm'
driver.get(url)

songs = driver.find_elements_by_css_selector('table>tbody>tr')
for song in songs:
    title = song.find_elements_by_css_selector('div.ellipsis.rank01>span>a')[0].text
    singer = song.find_elements_by_css_selector('div.ellipsis.rank02>a')[0].text
    print(title, singer, sep='|')

VVS (Feat. JUSTHIS) (Prod. GroovyRoom)|미란이 (Mirani)
밤하늘의 별을(2020)|경서
Dynamite|방탄소년단
잠이 오질 않네요|장범준
Lovesick Girls|BLACKPINK
힘든 건 사랑이 아니다|임창정
내일이 오면 (Feat. 기리보이, BIG Naughty (서동현))|릴보이 (lIlBOI)
취기를 빌려 (취향저격 그녀 X 산들)|산들
Life Goes On|방탄소년단
오래된 노래|스탠딩 에그
CREDIT (Feat. 염따, 기리보이, Zion.T)|릴보이 (lIlBOI)
Savage Love (Laxed - Siren Beat) (BTS Remix)|Jawsh 685
내 마음이 움찔했던 순간 (취향저격 그녀 X 규현)|규현 (KYUHYUN)
나랑 같이 걸을래 (바른연애 길잡이 X 적재)|적재
에잇(Prod.&Feat. SUGA of BTS)|아이유
어떻게 이별까지 사랑하겠어, 널 사랑하는 거지|AKMU (악동뮤지션)
화(火花)|(여자)아이들
혼술하고 싶은 밤|벤
Achoo (Feat. pH-1, HAON) (Prod. GroovyRoom)|미란이 (Mirani)
When We Disco (Duet with 선미)|박진영
늦은 밤 너의 집 앞 골목길에서|노을
흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야|장범준
Blueming|아이유
모든 날, 모든 순간 (Every day, Every Moment)|폴킴
어떻게 지내 (Prod. By VAN.C)|오반 (OVAN)
ON AIR (Feat. 로꼬, 박재범 & GRAY)|릴보이 (lIlBOI)
Freak (Prod. Slom)|릴보이 (lIlBOI)
How You Like That|BLACKPINK
METEOR|창모 (CHANGMO)
아로하|조정석
서면역에서|순순희
뿌리 (Feat. JUSTHIS) (Prod. GroovyRoom)|Khundi Panda
딩가딩가 (Dingga)|마마무 (Mamamoo)
Dolphin|오마이걸 (OH MY GIRL)
사실 나는 (Feat.전건호)|경서예지
마음을 드려요|아이유
오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)|마크툽 (MAKTUB)
DON'T TOUCH ME|환불원정대
그날에 나는 맘이 편했을까|이예준
작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)|방탄소년단
거짓말이라도 해서 널 보고싶어|백지영
I CAN’T STOP ME|TWICE (트와이스)
Memories|Maroon 5
악역 (Feat. 이하이 & 사이먼 도미닉) (Prod. 코드 쿤스트)|스윙스
마리아 (Maria)|화사 (Hwa Sa)
우리 왜 헤어져야 해|신예영
시작|가호 (Gaho)
사랑은 지날수록 더욱 선명하게 남아|전상근
뻔한남자|이승기
2002|Anne-Marie
봄날|방탄소년단
홀로|이하이
한잔이면 지워질까|황인욱
살짝 설렜어 (Nonstop)|오마이걸 (OH MY GIRL)
옜다 (Take It) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
눈누난나 (NUNU NANA)|제시 (Jessi)
가을밤에 든 생각|잔나비
Dance Monkey|Tones And I
고독하구만 (Feat. 수퍼비) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
Downtown Baby|블루 (BLOO)
Snowman|Sia
사랑 못해, 남들 쉽게 다 하는 거|먼데이 키즈 (Monday Kiz)
안녕|폴킴
너를 만나|폴킴
소확행|임창정
Panorama|IZ*ONE (아이즈원)
VVS (H1GHR Remix) (Feat. JUSTHIS) (Prod. GroovyRoom)|pH-1
What Do I Call You|태연 (TAEYEON)
너의 번호를 누르고 (Prod. 영화처럼)|#안녕
Love poem|아이유
처음처럼|엠씨더맥스 (M.C the MAX)
잘할게|이승기
나로 바꾸자 (duet with JYP)|비
우린 어쩌다 헤어진 걸까|허각
행복해|송하예
이제 나만 믿어요|임영웅
Achoo Remix (Feat. 미란이(Mirani), pH-1, 먼치맨, Skinny Brown, Louie, 릴러말즈 (Leellamarz), Ourealgoat (아우릴고트), Dbo (디보), 식케이 (Sik-K), 오왼 (Owen), Kid Milli, 스윙스, Nudeboi Seo, TRADE L, 쿠기 (Coogie), Blase (블라세), sokodomo, Khundi Panda, 휘민 (Lil Moshpit), Khakii (카키))|그루비룸 (GroovyRoom)
사랑하게 될 줄 알았어|전미도
여백의 미 (Feat. Jessi, JUSTHIS) (Prod. GroovyRoom)|머쉬베놈 (MUSHVENOM)
Don't Start Now|Dua Lipa
Santa Tell Me|Ariana Grande
All I Want For Christmas Is You|Mariah Carey
너도 아는|폴킴
별을 담은 시 (Ode To The Stars)|마크툽 (MAKTUB)
12:45 (Stripped)|Etham
아무노래|지코 (ZICO)
Bad Boy|청하
12월의 어느 겨울…|윤도 (YoonDo)
다시 여기 바닷가|싹쓰리 (유두래곤, 린다G, 비룡)
미리 메리 크리스마스 (Feat. 천둥 Of MBLAQ)|아이유
Paris In The Rain|Lauv
ON|방탄소년단
Maniac|Conan Gray
Black Mamba|aespa
놓아줘 (with 태연)|Crush
적외선 카메라|원슈타인
For You (Feat. Crush)|이하이
원해 (Feat. 팔로알토) (Prod. 코드 쿤스트)|스윙스
가다 (Feat. 사이먼 도미닉, The Quiett) (Prod. SLO)|머쉬베놈 (MUSHVENOM)
Blue & Grey|방탄소년단

#### (표) 크롤링 방식의 장단점 비교

||**Selenium + BeautifulSoup**|**Selenium만 이용**|
|:---:|:---:|:---:|
|**웹페이지 접속**|**HTML 정보 다운로드 후 브라우저 영향 없음**|**웹페이지 연결 유지 필요**|
|**웹페이지 동작**|**불가능**|**클릭, 입력 등 조작 가능**|
|**크롤링 속도**|**빠름**|**느림**|